
<div class="body">

    <div class="logo">
        <img src="https://pngimg.com/uploads/lamborghini/lamborghini_PNG10709.png" alt="logo" style="height: 80px
    ; width: 50px; "></div>
    
    <h1>Effectuate Tech Solution</h1> 


    
   

    <div class="cls">
        <a routerLink="home" routerLinkActive="component">home</a>
        <a routerLink="abouts" routerLinkActive="component">abouts</a>
        <a routerLink="contacts" routerLinkActive="component">contacts</a>
        <a routerLink="career" routerLinkActive="component">career</a>
    </div>
   
    
</div>