<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="abouts.component.css">
</head>
<body>
    <div class="himage">
        <img src="https://images01.nicepage.com/page/68/85/wordpress-theme-preview-68852.jpg" alt="homeimage">
    </div>
    <div class="main">
        
            <div class="one"> 
                <b>Mission and Vision :</b>
            <div class="two">
                <p>Startup with mission is to excel in our customer service using the internet technologies. Mission to bring digital transformation to the customer everyday 
                problems. Innovate on behalf of the customer to achieve and surpass customer excellence. To bring in growth and expansion by solving customer problems. 
                Spread and grow the business by bring innovation in solving the business problem and maintaining profitability by achieving the business goals.</p>
            </div>
            </div>
        </div>
       
   
    </body>

