body {
   
    position: fixed;
    background-color: rgb(215, 240, 240);
    height: 830px;
    width: 1920px;
    margin: 0%;
    padding: 0%;
    left: 0%;
    overflow: hidden;
    overflow-x: hidden;
   }

.one{
    font-style:normal;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(151, 8, 8);
    left: 100px;
    position: absolute;
    top: 180px;
   
}

.two{
    font-size: xx-large;
    font-size: 40px;
    color: blue;
    left: 100px;
    position: absolute;
    top: 210px;
    
}

.three{
    font-size: xx-large;
    font-size: 35px;
    color: rgb(151, 8, 8);
    left: 100px;
    position: absolute;
    top: 270px;
}

.four{
    color: black;
    left: 100px;
    position: absolute;
    top: 360px;
    font-size: medium;
    font-size: 20px;

}

img{
    display: flex;
    position: absolute;
    padding: 20px 50px 0 0;
}

.himage {
    position: absolute;
    left: 900px;
    top: 110px;
}
  
.button{
    top:500px;
    margin-left: 10%;
    font-size: larger;
    text-align: center;
    padding: 14px 40px;
    color: white;
    background-color: brown;
    text-decoration: none;
    position: absolute;
}


    

 

